<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home/selector']">Selector 1</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home/selector2']">Selector 2</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>